
html{
  width:100vw;
  color:#fff;
  margin:0;
  overflow-x: hidden
}

body { 
  padding:20px; 
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
  width:100vw;
  margin:0;
  text-align: center;
  background-color: tomato;
}



#canvas{
  margin-left:35vw;

}


.send {
  display:none;
  margin:auto;
  width:240px;
  height:50px; 
  border-style: solid;
  border-color:white;
  text-align: center; 
  margin-top:850px;
  padding:30px 50px 20px 50px; 
  background-color: tomato;
  cursor:pointer;
}

.playgame {
  margin:auto;
  width:240px;
  height:50px; 
  border-style: solid;
  border-color:white;
  text-align: center; 
  margin-top:850px;
  padding:30px 50px 20px 50px; 
  background-color: tomato;
  font-size:30px;
  cursor:pointer;
}


.send a{
  text-decoration: none;
  color:#fff;
  font-size:20px;
}

#canvas3 {
  position: absolute;
  z-index:3;
  margin-top:-20px;
  margin-left:15vw;
}


@media screen and (max-width: 1024px) {

  .instructions {
   font-size:22px;
  }

  #canvas{
    margin-left:10vw; 
    zoom:130%;  
  }
  #canvas3 {
  margin-left:20px;
  zoom:90%;
  }

  .send {
    margin-top:70vh;
  }

  .playgame{
    margin-top:70vh;
  }
  .send a{
    font-size: 30px;
  }
 
  .info{
    width:80vw;
    height:50px;
  }

  form {
    width:80vw;
    padding:20px;
  }

 .form-button {
   width:150px;
 }

 form textarea {
   max-width:100%;
 }
}